/* overrides */

.label{ text-transform: uppercase; }
.form-label{ text-transform: uppercase; font-size: 10px; display: block !important; }
.req{ color: #c00; }

.label-completed{
    background-color: #000;
    color: #fff;
}
